<%-include('../cabecalho')-%>
<h1>Adiciona Categoria</h1>
<form method="post" enctype="multipart/form-data">
    Titulo: <input type="text" name="titulo" id="titulo"><br />
 <input type="submit" value="Adicionar">
</form>
<%-include('../rodape')-%>