<%-include('../cabecalho')-%>
<h1>Adiciona Produto</h1>
<form method="post" enctype="multipart/form-data">
    Titulo: <input type="text" name="titulo" id="titulo"><br />
    Descrição: <input type="text" name="descricao" id="descricao"><br />
    Foto: <input type="file" name="foto" id="foto"><br />
    Preço: <input type="number" name="preco" id="preco"><br />
    Categoria:

    <select name="categoria">
        <%Categorias.forEach(function(categoria){%>
            <option value="<%=categoria._id%>"><%=categoria.nome%></option>
        <%})%>
    </select>''
 <input type="submit" value="Adicionar">
</form>
<%-include('../rodape')-%>